/*
.item-content-js {
  padding: 20px;
}
*/

.folded {
  display: none
}

.extended {
  display: block
}

span.item-symbol {
  border: 2px solid orange;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
}


h2.item-header-js {
  border-left: none;
  /* padding-left: 0px; */
}

.item-header-js > a {
  text-decoration: none;
  color: inherit;
}
